#logo {
  padding-left: 10rem;
}

.top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  background-color: #00aeff;
}

#top-nav {
  font-size: 2rem;
  margin-left: 8rem;
}

#top-nav a {
  text-decoration: none;
  color: white;
  margin: 5rem 1.5rem;
}

div {
  display: flex;
}

body {
  margin: 0;
}

#canyon-img {
  background-image: url(Images/canyon1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40rem;
  padding-bottom: 25rem;
  justify-content: center;
}

#canyon-img h1 {
  color: white;
  background-color: rgb(0, 60, 124);
  width: 90%;
  text-align: center;
  padding: 2rem 0rem;
  font-size: 4rem;
}

.info-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-inline: 25%;
  margin-top: 5rem;
  border-radius: 1rem;
  border: solid gray;
  justify-content: center;
}

.info-section div {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-inline: 15%;
  text-align: center;
}

.info-section div h1 {
  color: #00aeff;
  font-size: 5rem;
  margin-bottom: 0;
}

.info-section div h3 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 101, 122);
  padding: 3rem;
  margin-top: 5rem;
}

#footer-words {
  color: white;
  font-size: 1.5rem;
}

#email-button {
  text-decoration: none;
  margin-inline: 8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-style: solid;
  border-color: #00aeff;
  padding: 1rem 0.5rem;
  color: #00aeff;
}

#email-button:hover {
  color: white;
  background-color: #00aeff;
}

.info-section article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

header {
  position: fixed;
  }