
.container {
  position: relative;
  display: flex;
  align-items: start;
  width: 95%; /* Adjusted width to match your layout */
  background-color: #ffebdd;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px; /* Add margin at the bottom for spacing */
  margin-left: 45rem;
}

.image-slider {
  flex: 1;
  display: flex;
  transition: transform 2s;
}

.image {
  flex: 0 0 60%;
}

.image img {
  width: 150%; /* Adjusted width to fill the container */
  height: auto; /* Adjusted height to maintain aspect ratio */
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start; /* Align to the left side */
  justify-content: flex-start; /* Align to the top */
  padding: 10px; /* Adjusted padding */
  flex: 2; /* Occupy remaining space */
}

.info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; /* Adjusted text color */
}

.info p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.thumbnails-container {
  display: flex;
  justify-content: center;
  margin-top: 240px;
}

.thumbnail-image {
  margin: 0 10px;
}

.thumbnail-image img {
  width: 100px; /* Adjust the width as needed */
  height: 75px; /* Adjust the height as needed */
  object-fit: cover;
}
.thumbnail img {
  width: 50%; /* Adjusted width to fill the thumbnail container */
  height: auto;
  margin: 0;
}

.image:not(.active) {
  display: none;
}

/* Custom Home button styling */
      .Book-Now {
        display: inline-block;
        padding: 10px 20px;
        background-color: #000000;
        color: #ffffff;
        font-size: 16px;
        border: 2px solid #000000;
        border-radius: 25px;
        cursor: pointer;
        width: 75px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        margin-left: auto;
      }

      .Book-Now:hover {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
      }