body {
    display: grid;
    place-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    
}
  
/* Specific styles */
input[type="file"] {
    display: none;
}

input[type="text"] {
    width: 320px; /* Set the width as needed */
    margin-left: 50rem; 
    border: 1px solid #575757;
}

label {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background: #c0392b;
    text-align: center;
    padding: 15px 30px;
    font-size: 18px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    width: 320px;
    margin-left: 50rem;
}
  
label i {
    font-size: 20px;
    margin-right: 10px;
    width: 320px;
}
  
label:active {
    transform: scale(0.9);
}
  
#card {
    position: center;
    display: flex;
    font-size: 15px;
    margin: 40px auto;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    display: none;


}
  
#checkmark {
    font-weight: lighter;
    fill: #ffffff;
    margin: -3.5em 20px;
}
  
  
/* Style for the buttons container */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 8px;
}
  
/* Style for the buttons container */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 30rem;
}
  
 /* Style for individual buttons */
button {
    padding: 10px 15px; /* Adjust the padding as needed */
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background: #c0392b;
    color: #fff; 
}
  
.membership-title {
    margin-top: 80px;
    font-size: 38px;
    color: #000000;
    letter-spacing: 2px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
    margin-left: 50rem;
}
.membership-description {
    background-color: #3498db;
    color: white;
    padding: 25px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    margin-left: 50rem;
}

.reset-button{
    margin-right: 30rem;
}