:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.icons > i {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form{
  position: absolute;
  top:115%; right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active{
  transform: scaleY(1);
}

.header .search-form input{
height: 100%;
width: 100%;
font-size: 1.6rem;
color:var(--black);
padding: 1rem;
text-transform: none;
}

.header .search-form label{
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5em;
  color:var(--black);
} 
.header .search-form label:hover{
  color:var(--main-color);
}


/* media queries */
@media (max-width: 991px){
    html{
    font-size: 55%;
  }  

  .header{
    padding:1.5rem 2rem;
  }
}



/* media queries */
@media (max-width: 768px){
  #menu-btn {
    display: inline-block;
  }  

  .header .navbar{
    position: absolute;
    top: 100%; right:-100%; 
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar a{
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding:1.5rem;
    font-size: 2rem;

  }

  .header .navbar active{
    right: 0;
  }

  .header .search-form{
    width: 90%;
    right: 2rem;
  }


}


/* media queries */
@media (max-width: 450px){
  html{
  font-size: 55%;
}  

.header{
  padding:1.5rem 2rem;
}
}